.fingering-view {
    display:inline-block;
    vertical-align:middle;
    margin-left:10px;
}

.note {
    font-size:100%;
    background-color:#7fffd4;
    display:inline-block;
    width:40px;
    height:100%;
    text-align:center;
    padding:0px;
    margin-top:4px;
    border-radius:10px;
}

.piston-on {
    font-size:100%;
    text-align:center;    
    display: inline-block;
    width:28px;
    height:28px;
    border-radius:50%;
    border-color:black;
    line-height:28px;
    background:skyblue;
    border:solid 3px black;
    margin:0px;
    padding:0px;
}
.piston-off {
    font-size:100%;
    text-align:center;    
    display: inline-block;
    width:28px;
    height:28px;
    border-radius:50%;
    border-color:black;
    line-height:28px;
    background:white;
    border:solid 3px black;
    margin:0px;
    padding:0px;    
}
