<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>Trumpet Scales</title>
	<link rel="stylesheet" href="./css/default.css" type="text/css">
    </head>
    <body>
	<h1>Trumpet Scales</h1>
	<div id="app">

	    <div>
		<span>
		    <select name="scale_type" v-model="scaleType">
			<option v-for="item in scaleTypes" :value="item.value">
			    {{item.name}}
			</option>
		    </select>
		</span>

		<span>
		    <select name="tonalCenter" v-model="tonalCenter" :disabled="scaleType === 'chromatic'">
			<option v-for="item in tonalCenters" :value="item">
			    {{item}}
			</option>
		    </select>
		</span>

		<span>
		    in Bb<input type="radio" name="base" v-model="base" :value="'Bb'">
		    in C<input type="radio" name="base" v-model="base" :value="'C'">
		</span>
	    </div>

	    <div>
		<ul style="list-style:none">
		    <li v-for="item in items">
			<pistons-view :item="item" :base="base"></pistons-view>
		    </li>		
		</ul>
	    </div>

	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<script src='scales.js'></script>	
	<script src='app.js'></script>
    </body>
</html>
